/* line 5, ../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../scss/screen.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 5, ../scss/screen.scss */
body, html {
  background-color: #efefef;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  overflow-y: hidden;
}

/* line 12, ../scss/screen.scss */
h1 {
  font-weight: 900;
  font-size: 1.5em;
  margin: 0 0 0.5em;
}

/* line 18, ../scss/screen.scss */
.wrapper {
  background-color: #fff;
  padding: 0;
  margin: 15px;
  border-radius: 15px;
  overflow: hidden;
}

/* line 26, ../scss/screen.scss */
.menu {
  padding: 15px;
  background-color: rgba(70, 90, 156, 0.5);
}
/* line 30, ../scss/screen.scss */
.menu ul {
  overflow: hidden;
}
/* line 34, ../scss/screen.scss */
.menu li {
  float: left;
  overflow: hidden;
  padding: 5px;
  margin: 0 5px 0 0;
}
/* line 40, ../scss/screen.scss */
.menu li a {
  color: #000;
}

/* line 46, ../scss/screen.scss */
.menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* line 52, ../scss/screen.scss */
.sidebar {
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.025);
  width: 33%;
  float: left;
}

/* line 60, ../scss/screen.scss */
.main {
  width: 66%;
  margin-left: 33%;
  padding: 15px;
}

/* line 66, ../scss/screen.scss */
.list__interactions {
  margin: 0;
  padding: 20px 0;
  list-style-type: none;
}
/* line 71, ../scss/screen.scss */
.list__interactions li {
  padding: 0 15px;
  margin: 0 0 15px 0;
  overflow: hidden;
}
/* line 77, ../scss/screen.scss */
.list__interactions img {
  float: left;
  margin: 0 10px 0 0;
  border-radius: 8px;
  max-width: 75px;
  width: 75px;
}
/* line 85, ../scss/screen.scss */
.list__interactions .int--name {
  font-weight: bold;
}
/* line 89, ../scss/screen.scss */
.list__interactions .int--json {
  display: none;
}

/* line 94, ../scss/screen.scss */
.button {
  background-color: #8cc63e;
  padding: 7px 10px;
  margin-top: 10px;
  overflow: hidden;
  display: inline-block;
  border-radius: 4px;
}
/* line 102, ../scss/screen.scss */
.button:hover {
  background-color: #70a12f;
}

/* line 108, ../scss/screen.scss */
a.button {
  text-decoration: none;
  color: #000;
}

/* line 114, ../scss/screen.scss */
.checktoggle {
  position: relative;
  margin: 0px 10px -5px 10px;
  border-radius: 20px;
  background: #999;
  outline: 0;
  -webkit-appearance: none;
  cursor: pointer;
  width: 36px;
  height: 20px;
}

/* line 126, ../scss/screen.scss */
.checktoggle::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  display: block;
  width: calc((100% - 4px) / 2);
  height: calc(100% - 4px);
  border-radius: 50%;
  background: #eee;
  transition: all .1s linear;
}

/* line 139, ../scss/screen.scss */
.checktoggle:checked {
  background: #5b5;
}

/* line 143, ../scss/screen.scss */
.checktoggle:checked::after {
  transform: translateX(100%);
}

/* line 147, ../scss/screen.scss */
.client--count {
  background-color: rgba(0, 0, 0, 0.66);
  padding: 8px;
  color: rgba(255, 255, 255, 0.9);
  display: inline-block;
  border-radius: 6px 0 0 0;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.85em;
}

/* line 159, ../scss/screen.scss */
.caller--details {
  display: none;
}
/* line 163, ../scss/screen.scss */
.caller--details .caller--avatar img {
  float: left;
  margin: 0 10px 0 0;
  width: 175px;
  border-radius: 6px;
}
/* line 170, ../scss/screen.scss */
.caller--details .caller--name {
  font-size: 26px;
  font-weight: bold;
  margin: 0 0 .5em 0;
}
/* line 176, ../scss/screen.scss */
.caller--details .caller--phone {
  margin: 0 0 0.5em;
}

/* line 181, ../scss/screen.scss */
.caller--default {
  text-align: center;
  font-size: 20px;
  opacity: 0.5;
  margin-top: 70px;
}
